<p class="blog_post_comment_header">
	{{ comment.user.username }} 
	<span class="small italic">({{ comment.createdAt | comment_date }})</span>
		<span class="right">
			{{ comment.answers | length }} {{ comment.answers | length > 1 ? 'Antworten' : 'Antwort' }} | 
			<a href="#">Reply</a>
		</span>
	</p>

<p class="blog_post_comment_body">{{ comment.content }}</p>

	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		{% render 'WebdevBlogBundle:Comment:newComment' with { 'slug': post.slug, 'origin': comment.id } %}
	{% endif %}

{% for answer in comment.answers %}
<div id="comment_{{ answer.id }}" class="blog_post_comment blog_post_comment_answer">
	{% include 'WebdevBlogBundle:Comment:comment.html.twig' with { 'comment': answer } %}
</div>
{% endfor %}