<!DOCTYPE html>
<html>
<!--[if IE]><![endif]-->
<!--[if lt IE 7 ]> <html lang="es" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="es" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="es" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="es" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% block title %}{% endblock %} - Backender's Blog</title>
		{% block stylesheets %}
		
			{% stylesheets 
				'resources/css/base.css'
			%}
			
				<link href="{{ asset_url }}" rel="stylesheet" type="text/css">
				
				{{ tinymce_init() }}
				
			{% endstylesheets %}

		{% endblock %}
		<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
	</head>
	
	<body>
		
		<div id="leftbar" class="ch-fixed-sidebar ch-left">
			<div class="ch-box">	
				<!-- your sidebar here -->
				 <div id="menu">
				 	<a href="{{ path('blog_post_index') }}"><div class="box_black box_large inmenue"><h1>Backender</h1></div></a>
				 	<a id="logo" href="{{ path('blog_post_index') }}"></a>
				 	<div id="menu_social" class="box_black inmenue">f g t x</div>
				 	<div id="menu_tweet" class="inmenue">
				 		<p>It’s always nice to get a feedback. Why not give me a simple tweet:</p>
				 		<form action="">
				 			<textarea rows="4" id="tweet_textarea" class="inmenue">@backender&nbsp;</textarea>
				 		</form>
				 	</div>
 					{% block menu %}{% endblock %}
			
					{% if is_granted('IS_AUTHENTICATED_FULLY') %}
						<ul>
							<li><a href="{{ path('logout') }}">Logout</a></li>
							<li><a href="{{ path('admin_dashboard') }}">Dashboard</a></li>
						</ul>
					{% else %}	
						<ul>	
							<li><a href="{{ path('admin_dashboard') }}">Login</a></li>
						</ul>
					{% endif %}
 				</div>
 				<!-- sidebar ending here -->
			</div>
		</div>

		
		<div class="ch-elastic-content ch-right">
			<div id="header" class="ch-box">
			{% block navigation %}				
				<!-- header starts here -->
				<h3><a href="{{ path('blog_post_index') }}">Blog</a></h3>
				
				<!-- header ends here -->
			{% endblock %}
			</div>
			{% block body_title %}
				<div id="body_title" class="ch-box">
				<h2>My Site Header where I'll always try to write a least two lines...</h2>
				</div>
			{% endblock %}
			
			<div id="content" class="ch-box">				
				<!-- your content here -->
				 	
 					<div id="body_container" class="cf">
 						<div id="body_content" class="left">
 							<div class="inbody">
 								{% block body %}{% endblock %}
 							</div>
 						</div>
 						<div id="rightbar" class="left">
 							{% block rightbar %}{% endblock %}
 						</div>
 					</div>				
				<!-- content ends here -->
				
			</div>
		</div>

		<div id="footer">
			<p>Download <strong>Chico Mesh</strong> from <a href="http://chico-ui.com.ar/mesh">http://chico-ui.com.ar/mesh</a></p>
		</div>

 		


	    {% block javascripts %}
	    
	    	{% javascripts 
	    	'resources/js/jquery-1.7.js'
	    	'resources/js/base.js'
	    	output='resources/compiled/base.js'
	    	%}
	    	
	    	<script type="text/javascript" src="{{ asset_url }}"></script>
	    	
	    	{% endjavascripts %}
		{% endblock %}
	</body>
</html>