<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% block title %}{% endblock %} - marc's Blog</title>
		{% block stylesheets %}
		
			{% stylesheets 
				'resources/css/base.css'
				output='resources/compiled/base.css'
			%}
			
				<link href="{{ asset_url }}" rel="stylesheet" type="text/css">
				
				{{ tinymce_init() }}
				
			{% endstylesheets %}

		{% endblock %}
		<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
	</head>
	<body>
		<div id="container">
			<div id="header">
				<div id="header_text">
					<h1><a href="{{ path('blog_post_index') }}">backender</a></h1>
					<p></p><br />
				</div>
				<div id="header_font_size" class="no_margin">
					<a href="javascript:;" onclick="changeFontSize('-');"><img src="{{ asset('resources/images/fontname_16x16.png') }}"/></a>
					<a href="javascript:;" onclick="changeFontSize('+');"><img src="{{ asset('resources/images/fontname_26x26.png') }}"/></a>
				</div>
				<ul id="header_links" class="small no_margin">
					<li><a href="">Twitter</a></li>
					<li><a href="">GitHub</a></li>
					<li><a href="">Impressum</a></li>
					{% if is_granted('IS_AUTHENTICATED_FULLY') %}
						<li><a href="{{ path('logout') }}">Logout</a></li>
						<li><a href="{{ path('admin_dashboard') }}">Dashboard</a></li>
					{% else %}	
						<li><a href="{{ path('admin_dashboard') }}">Login</a></li>
					{% endif %}
				</ul>
			</div>
			<div id="body">
				{% block body %}{% endblock %}
			</div>
	    </div>
	    {% block javascripts %}
	    
	    	{% javascripts 
	    	'resources/js/jquery-1.7.js'
	    	'resources/js/base.js'
	    	output='resources/compiled/base.js'
	    	%}
	    	
	    	<script type="text/javascript" src="{{ asset_url }}"></script>
	    	
	    	{% endjavascripts %}
		{% endblock %}
	</body>
</html>